include LICENSE
include README.md
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include napari_allencell_segmenter/styles *.qss
recursive-include napari_allencell_segmenter/assets/icons *
